body {
    background-color: #78caee;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 5px 20px;
    background-color: #609ae6;
    border-style: none;
    color: #fdffff;
}

input {
    height: 25px;
}